{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "@shuyun-ep-team/eslint-config"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "createDefaultProgram": true
  },
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0
  }
}